/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 11, 2018, 11:08:33 AM
    Author     : sprlajur
*/

#top_menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

#top_menu li {
    float: left;
}

#top_menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

#top_menu li a:hover {
    background-color: #111111;
}

table, th, td {
    background-color: #eee;
    padding: 5px;
    border: 1px solid black;
    border-collapse: collapse;
}

ul li span{
    text-align: right;
}